*.dump
*.dump.gz
*.pyc
*.sql
*.swo
*.swp
*.sw?
*~
.idea/*
/tmp/
Thumbs.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
development/*
launch.sh
myenv/*
myenv/**/
public/media/**/
public/static/*
public/static/**/
search_ads/migrations/**/
settings_local.py
stubs/
v3/*
*firebase-adminsdk-*.json
push_notifications_local.py
dadata_local.py
atomic_sms_local.py
email_local.py
googlemaps_local.py
telephony_local.py
node_modules
json/*
unoconv.py
unoconv_local.py
rates_01_04_local.py
*_private.json
rocketchat_local.py
smsc_sms_local.py
clear.zip
talk_bank_local.py
redhuman/logs/
*.bat
app_flavors_local.py