.ban {
    background-color: #fee;
}
.online {
    /*background-color: #ebfdd7*/
}
.no_turnouts {
    background-color: #cfcfcfaa
}
.rest {
    background-color: #FFCF2444
}
.signup {
    background-color: #DBE9FA
}
