<a href="{% url 'the_redhuman_is:catalog_metro' %}">Станции метро</a><br>
<a href="{% url 'the_redhuman_is:catalog_metro_new' %}">Станции метро(новые)</a><br>
<a href="{% url 'the_redhuman_is:catalog_country' %}">Страна</a><br>
<a href="{% url 'the_redhuman_is:catalog_position' %}">Должность</a><br>
<a href="{% url 'the_redhuman_is:m_manager_position' %}">Менеджеры по ведению</a><br>
<a href="{% url 'the_redhuman_is:d_manager_position' %}">Менеджеры по развитию</a><br>
<a href="{% url 'the_redhuman_is:catalog_administration_cost_type' %}">Виды расходов, Администрация</a><br>
<a href="{% url 'the_redhuman_is:catalog_industrial_cost_type' %}">Виды производственных расходов</a><br>
<a href="{% url 'the_redhuman_is:catalog_creditor' %}">Кредиторы</a><br>
<a href="{% url 'the_redhuman_is:accountable_persons' %}">Подотчетные лица</a><br>
<a href="{% url 'the_redhuman_is:catalog_applicant_status' %}">Соискатели. Статусы</a><br>
<a href="{% url 'the_redhuman_is:catalog_applicant_sources' %}">Соискатели. Источники информации</a><br>
<a href="{% url 'the_redhuman_is:catalog_applicant_locations' %}">Соискатели. Доступные объекты</a><br>
<a href="{% url 'the_redhuman_is:catalog_legal_entities' %}">Юрлица</a><br>
