{% extends 'base.html' %}
<style>
label {
  font-weight: 700;
}
</style>
{% load humanize static %}
{% load mathfilters %}

{% block cform1 %}
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ o_form.as_table }}
  </table>
  <button type="submit" style="width:484px;height:50px">Провести</button>
</form>
{% endblock %}

{% block img %}
<strong>Остатки</strong>
<p><caption>Остаток по <a href="{% url 'the_redhuman_is:operating_account_detail' pk=acc_kass.pk %}">кассе</a>: <strong>{{ kass_saldo }}</strong></caption></p>
<p><caption>Остаток по <a href="{% url 'the_redhuman_is:operating_account_detail' pk=acc_acc.pk %}">расчетному счету</a>: <strong>{{ acc_saldo }}</strong></caption></p>
<p><caption><a href="{% url 'the_redhuman_is:detalisation_70' %}">Зарплата</a> к выплате: <strong>{{ saldo }}</strong></caption></p>
<form action="" method="post">
  {% csrf_token %}
    {{ form }}
    <button type="submit">Поиск</button>
</form>
{% endblock %}

{% block table-data %}
<table>
  <caption><strong>Все проводки за вчера и сегодня</strong></caption>
  <tr>
    <th>Дата</th>
    <th>Дебет-Счет</th>
    <th>Кредит-Счет</th>
    <th>Комментарий</th>
    <th>Сумма</th>
  </tr>
  {% for operation in operations %}
  <tr>
      <td>{{ operation.timepoint|date:"d.m.Y" }}</td>
      <td>{{ operation.debet }}</td>
      <td>{{ operation.credit }}</td>
      <td>{{ operation.comment }}</td>
      <td>{{ operation.amount|intcomma }}</td>
  </tr>
  {% endfor %}
</table>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link href="{% static 'vendor/select2/dist/css/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}


{% block table1 %}

{% endblock %}
