{% extends 'the_redhuman_is/photo_load_sort.html' %}
{% load crispy_forms_tags %}
{% load redhuman_tags %}
{% load static %}
{% block forms %}
    <div class="row border-bottom pb-xl-2 pb-1">
        <div class="col pt-1 pt-xl-2">
            <div class="font-weight-bold">Добавление табеля</div>
            <div class="rh-vertical-form">
                {{ after.management_form }}
                <input type="hidden" name="customer" value="{{ timesheet.customer.pk }}"/>
                <div id="accordion" class="my-2">
                    {% for form in after %}
                        {% if form.id.value %}
                            {% with turnout_id=forloop.counter0|stringformat:"s" form_id=form.id.value|default:0 %}
                                <div class="card">
                                    <div class="card-header pl-2 p-0" id="heading{{ forloop.counter0 }}">
                                        <div class="row">
                                            {% if form.instance.worker %}
                                                <div class="col-8 p-0">
                                                    <button class="btn btn-sm btn-link ml-2 collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseOne" type="button">
                                                        {{ form.instance.worker }}
                                                    </button>
                                                </div>
                                                <div class="col-1 ml-2 my-auto p-0 hours_worked">
                                                    <span class="badge badge-secondary">{{ form.instance.hours_worked|floatformat:0 }}</span>
                                                </div>
                                                <div class="col-2 my-auto p-0 text-right">
                                                    <span class="text-danger">
                                                        <input type="checkbox" name="delete" value="{{ form_id }}">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                </div>
                                            {% else %}
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseOne" type="button">
                                                    Добавить рабочего
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div id="collapse{{ forloop.counter0 }}" class="collapse {% if forloop.counter0 == 0 %}show{% endif %}" aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                                        <div class="card-body">
                                            {% crispy form %}
                                            <div id="extra_form_content_{{ turnout_id }}"></div>
                                            <div class="font-weight-bold border-top my-1 pt-1">Штраф</div>
                                            <div class="cfines">
                                                {% with id_suffix='cfine_'|add:turnout_id items=cfines|get_value_from_dict:form_id %}
                                                    {% include 'the_redhuman_is/turnout_fines.html' %}
                                                {% endwith %}
                                            </div>
                                            <div class="font-weight-bold border-top my-1 pt-1">Вычет</div>
                                            <div id="deductions_{{ turnout_id }}">
                                                {% for cfine in cfines|get_value_from_dict:form_id %}
                                                    {% if not cfine.operation.fines.all.0.deduction.comment %}
                                                        <span style="display: none" id="id_val_deduction_{{ turnout_id }}_id_{{ forloop.counter }}"></span>
                                                        <span style="display: none" id="id_comment_deduction_{{ turnout_id }}_id_{{ forloop.counter }}"> - На основании штрафа от {% now "m.d.Y" %} "" <br></span>
                                                    {% else %}
                                                        <span id="id_val_deduction_{{ turnout_id }}_id_{{ forloop.counter }}">{{ cfine.operation.fines.all.0.deduction.amount }}</span>
                                                        <span id="id_comment_deduction_{{ turnout_id }}_id_{{ forloop.counter }}"> - {{ cfine.operation.fines.all.0.deduction.comment }}<br></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {% with id_suffix='fine_'|add:turnout_id items=fines|get_value_from_dict:form_id %}
                                                {% include 'the_redhuman_is/turnout_fines.html' %}
                                            {% endwith %}
                                            <div class="font-weight-bold border-top my-1 pt-1">Бонус</div>
                                            {% with id_suffix='bonus_'|add:turnout_id items=bonuses|get_value_from_dict:form_id %}
                                                {% include 'the_redhuman_is/turnout_fines.html' %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                    <div class="card" id="addNewCard">
                        <div class="card-header pl-2 p-0">
                            <div class="row">
                                <button class="btn btn-sm btn-link ml-2" type="button">
                                    <i class="fas fa-plus fa-sm"></i> Добавить рабочего
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="turnoutInit" style="display:none">
                    <div class="card">
                        <div class="card-header pl-2 p-0" id="heading__prefix__">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse__prefix__" aria-expanded="false" aria-controls="collapseOne" type="button">
                                        Новый рабочий
                                    </button>
                                </div>
                                <div class="col-1 ml-2 my-auto p-0 hours_worked"></div>
                            </div>
                        </div>
                        <div id="collapse__prefix__" class="collapse show" aria-labelledby="heading__prefix__" data-parent="#accordion">
                            <div class="card-body">
                                {% crispy after.empty_form %}
                                <div class="font-weight-bold border-top my-1 pt-1">Штраф</div>
                                <div class="cfines">
                                    {% with id_suffix='cfine___prefix__' %}
                                        {% include 'the_redhuman_is/turnout_fines.html' %}
                                    {% endwith %}
                                </div>
                                <div class="font-weight-bold border-top my-1 pt-1">Вычет</div>
                                <div id="deductions___prefix__">
                                    <span style="display: none" id="id_val_deduction___prefix___id_1"></span>
                                    <span style="display: none" id="id_comment_deduction___prefix___id_1"> - На основании штрафа от {% now "m.d.Y" %} "" <br></span>
                                </div>
                                {% with id_suffix='fine___prefix__' %}
                                    {% include 'the_redhuman_is/turnout_fines.html' %}
                                {% endwith %}
                                <div class="font-weight-bold border-top my-1 pt-1">Бонус</div>
                                {% with id_suffix='bonus___prefix__' %}
                                    {% include 'the_redhuman_is/turnout_fines.html' %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary" type="submit" name="action" value="before">Сохранить</button>
                <button class="btn btn-sm btn-secondary" type="reset">Сбросить</button>
            </div>
        </div>
    </div>
    <div class="row pt-xl-2 pt-1 border-bottom">
        <div class="col">
            <div class="font-weight-bold">Комментарии</div>
            {% include 'the_redhuman_is/photo_load_messages_list.html' %}
            <div class="row my-xl-2 my-1">
                <div class="col-auto ml-auto">
                    <button class="btn btn-sm btn-outline-primary ml-auto" data-toggle="modal" data-target="#commentModal" type="button">Добавить комментарий</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-xl-2 pt-1 pb-2">
        <div class="col-auto ml-auto">
            <a href="{% url 'the_redhuman_is:photo_load_close_session' object.pk %}" class="btn btn-sm btn-danger">Закрыть сессию</a>
        </div>
    </div>
    {{ worker_search.media }}
    <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>

<script>
function nextId(form_id, id_suffix) {
    let id = $('#' + form_id + ' .in').find('input[type="text"]').last().attr('id');
    let __last_id = 0;
    if (typeof id !== typeof undefined && id !== false)
        __last_id = id.replace('id_comment_' + id_suffix + '_id_', '');
    __last_id++;
    return "_id_" + __last_id;
}

function onRemove(id) {
    document.getElementById(id).remove();
    if (id.includes('cfine')) {
        let deduction_val_id = id.replace('id_div_cfine', 'id_val_deduction');
        let deduction_comment_id = id.replace('id_div_cfine', 'id_comment_deduction');
        $('#' + deduction_val_id).remove();
        $('#' + deduction_comment_id).remove();
    }
    return false;
}

function onAdd(id_suffix) {
    let form_id = "container_" + id_suffix;
    let button_id = "id_add_button_" + id_suffix;
    addField(form_id, button_id, id_suffix + nextId(form_id, id_suffix), "", "");
    return false;
}

function addField(form_id, button_id, id_suffix, key, value) {
    let div = document.createElement("div");
    div.id = "id_div_" + id_suffix;
    div.className = "rh-fine-flex-row";
    div.style = "margin-top: 2px;";
    div.innerHTML = "<span class=\"t_input\"><input placeholder=\"Сумма\" id=\"id_val_" + id_suffix + "\" type=\"text\" value=\"" + key + "\"" +
        "name=\"val_" + id_suffix + "\"/></span>\n" +
        "<input placeholder=\"Комментарий\" id=\"id_comment_" + id_suffix + "\" type=\"text\" value=\"" + value + "\"" +
        "name=\"comment_" + id_suffix + "\"/>\n" +
        "<button type=\"submit\" onClick=\"return onRemove('id_div_" + id_suffix +
        "')\" class='btn btn-link'><i class='far fa-minus-square fa-lg'></i></button>";
    $('#' + form_id + ' .in').append(div);

    div = document.createElement("div");
    div.innerHTML = "<input id=\"id_id_" + id_suffix + "\" type=\"hidden\" value=\"\" name=\"id_" + id_suffix + "\">\n" +
        "<input id=\"id_operation_" + id_suffix + "\" type=\"hidden\" value=\"\" name=\"operation_" + id_suffix + "\">"

    $('#' + form_id + ' .in').append(div);
}

$('#accordion').on("input", ".cfines input[type='text']", function () {
    var id = $(this).attr('id').replace('cfine', 'deduction');
    if (id.includes('comment')) {
        var re = /"(.*)"/;
        var newstr = $('#' + id).text().replace(re, '"' + $(this).val() + '"');

        $('#' + id).html(newstr + "<br>");
    }
    else
        $('#' + id).html($(this).val());

    if ($('#' + id).attr('style') == 'display: none')
        $('#' + id).show();
});

$('#accordion').on("click", ".add_button", function () {
    var buttonFullId = $(this).attr('id');
    var rowId = buttonFullId.substr(buttonFullId.length - 1);
    var lastInputId = $(this).parent().find('input[type="text"]').last().attr('id');
    var id = lastInputId.substr(lastInputId.length - 1);
    $('#deductions_' + rowId).append('<span id="id_val_deduction_' + rowId + '_id_' + id + '"></span> <span style="display: none" id="id_comment_deduction_' + rowId + '_id_' + id + '"> - На основании штрафа от {% now "m.d.Y" %} ""<br></span>');
});

$('#addNewCard').click(function () {
    let total_form = $('#id_form-TOTAL_FORMS');
    let form_num = parseInt(total_form.val());
    $('.collapse', '#accordion').collapse("hide");
    $('#addNewCard').before($('#turnoutInit').html().replace(/__prefix__/g, form_num));
    total_form.val(form_num + 1);
});
$('#accordion').on('change', 'select[id$="worker"]', function () {
    let text = $(this).find(":selected").text();
    let parent = $(this).closest('.card');
    $('.card-header .btn-link', parent).text(text);
});
$('#accordion').on('change', 'input[id$="hours_worked"]', function () {
    let text = $(this).val();
    let parent = $(this).closest('.card');
    $('.card-header .hours_worked', parent).text(text);
});

function init_service_form(index, worker_pk) {
    let id = '#id_form-' + index + '-service';
    let on_change = function() {
        let service_pk = $(id).val();
        var url = "{% url 'the_redhuman_is:worker_turnout_output' %}";
        url += ('?service=' + service_pk);
        url += ('&worker=' + worker_pk);
        url += ('&timesheet=' + {{ timesheet.pk }});
        url += ('&index=' + index);

        $.ajax(
            {
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#extra_form_content_' + index).html(data);
                },
                error: function (data) {
                    $('#extra_form_content_' + index).html('Что-то пошло не так.');
                }
            }
        );
    }
    $(id).on('change', on_change);
    on_change();
}

$(document).ready(function() {
{% for form in after %}
    {% if form.instance.worker %}
        init_service_form({{ forloop.counter0 }}, {{ form.instance.worker.pk }});
    {% endif %}
{% endfor %}
});

</script>
{% endblock %}
