<div id="id_div___prefix__" class="rh-fine-flex-row mb-1">
                        <span class="t_input">
                            <input placeholder="Сумма" id="id_val___prefix__" type="number" min="1" step="any" value="" name="val___prefix__">
                        </span>
    <input placeholder="Комментарий" id="id_comment___prefix__" type="text" value="" name="comment___prefix__">
    <button type="button" class="remove_button btn btn-link" onclick="onRemove('id_div___prefix__')">
        <i class="far fa-minus-square fa-lg"></i></button>
</div>
<div>
    <input id="id_id___prefix__" type="hidden" value="" name="id___prefix__">
    <input id="id_operation___prefix__" type="hidden" value="" name="operation___prefix__">
</div>
