{% extends 'base.html' %}{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Новый рабочий</title>
  </head>
  {% block buttons %}
    <label>{{ worker }}</label>
  {% endblock %}

  {% block obj-data %}
    <form method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {% if form %}
        <table>
          {{ form.as_table }}
        </table>
        {% endif %}

        {% if c_form %}
          <p><label>Комментарий</label></p>
          <table>
            {{ c_form.as_table }}
          </table>
        {% endif %}
      <button type="submit">Сохранить</button>
    </form>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <link href="{% static 'vendor/select2/dist/css/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  {% endblock %}
